@import "../../styles/index.scss";

.container {
  min-width: 100%;
}

form {
  max-width: 50rem;

  .container-step {
    width: 100%;
  }

  .container-buttons-step {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin: 2.2rem 0;

    button {
      svg {
        height: 2.8rem;
        margin-left: 1rem;
      }
    }

    button:nth-child(1) {
      width: 40%;

      svg {
        margin: 0 0.8rem 0 0;
      }
    }
  }
}
