@import "../../styles/index.scss";

.container {
  width: 100%;
  max-width: 50rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  align-self: center;

  .logo {
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    img {
      width: 100%;
    }
  }

  h1 {
    width: 100%;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 1.8rem;
    text-align: center;
  }

  form {
    .container-inputs {
      label {
        margin: 0.8rem 0rem;
      }
    }
  }

  .forgot {
    margin: 8px 0;
  }

  button {
    margin: 2.2rem 0rem;
  }

  p {
    text-align: center;
    a {
      margin-left: 0.6rem;
    }
  }
}
