$color-white: #fff;
$color-black: #000;

$color-gray-100: #ccc;
$color-gray-200: #858585;
$color-gray-300: #646464;
$color-gray-500: #474747;
$color-gray-700: #383838;
$color-gray-900: #212121;

$color-blue-100: #0e76eb;
$color-blue-300: #0757c5;
$color-blue-500: #0448b2;
$color-blue-700: #00389f;
$color-blue-900: #061da1;

$color-red-300: #fe3a25;
$color-red-500: #fd0f04;
$color-red-700: #b90504;
$color-red-900: #990100;

$color-green-100: #a7ff8f;
$color-green-300: #83df6f;
$color-green-500: #5ebf4e;
$color-green-700: #3a9f2e;
$color-green-900: #157f0d;
