.flex-line-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-shadow-black {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.box-shadow-blue {
  box-shadow: rgba(23, 8, 151, 0.342) 0px 0.0625em 0.0625em,
    rgb(0, 17, 255) 0px 0.125em 0.1em,
    rgba(4, 0, 255, 0.288) 0px 0px 0px 1px inset;
}

.box-shadow-green {
  box-shadow: rgba(0, 161, 0, 0.25) 0px 0.0625em 0.0625em,
    rgb(21, 165, 45) 0px 0.125em 0.1em,
    rgba(8, 190, 23, 0.356) 0px 0px 0px 1px inset;
}

.box-shadow-red {
  box-shadow: rgba(255, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgb(255, 0, 0) 0px 0.125em 0.1em,
    rgba(255, 0, 0, 0.356) 0px 0px 0px 1px inset;
}
