.input-seach {
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin: 20px 0;

  input {
    width: calc(98% - 70px);
    height: 40px;
    border: none;
    border-radius: 10px 0 0 10px;
    background-color: #ccc;
    outline: none;
    color: #444444;
    font-size: 18px;
    font-weight: 700;
  }

  .icon-search {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000c9;
    border-radius: 0 10px 10px 0;
    svg {
      height: 28px;
    }
  }
}
